body {
    animation-duration: 0.5s;
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
    
    margin: 0;
    padding: 0;
    height: 100%;

    background-color: rgb(10, 5, 21);
}

.topnav {
  background-color: #3b294c;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #dddddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

h1 {
    font-family: verdana;
    color:rgb(196, 196, 196);
    text-align: center;
    align-self: center;
}

.Body a {
    font-size: larger;
    font-family:verdana;

    border: 10px;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    transition: background-color 0.25s ease;

    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    border-color: white;
}

.animate.pop {
    animation-duration: 0.5s;
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  }

@keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
  
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }