body {
    background-color: rgb(10, 5, 21);
}

h1 {
    font-family: verdana;
    color:rgb(196, 196, 196);
}

a {
    font-size: larger;
    font-family:verdana;
    border: 10px;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    transition: background-color 0.25s ease;
}

a:hover {
    background-color: rgba(0, 74, 15, 0.769);
    transition: background-color 0.25s ease;
}