h1 {
    font-family: verdana;
}

button {
    font-size: larger;
    font-family:verdana;
    border: 10px;
    background-color: black;
    color:aliceblue;
    transition: background-color 0.25s ease;
}

button:hover {
    background-color: rgba(0, 74, 15, 0.769);
    transition: background-color 0.25s ease;
}

button:hover::target-text {
    content: "Escape the matrix?";
}
